@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*------Color variables------*/
    --alternate: #757575;
    --blue_900: #003ebb;
    --blue_a400: #3b77f0;
    --blue_gray_100: #d9d9d9;
    --blue_gray_100_01: #d4d4d4;
    --charcoal: #1b1b1b;
    --gray_100: #f7f7f7;
    --gray_300: #dadada;
    --gray_400: #c2c2c2;
    --gray_400_01: #b5b5b5;
    --gray_600: #6f6f6f;
    --gray_600_01: #828282;
    --gray_600_02: #848484;
    --gray_700: #686868;
    --gray_700_01: #636363;
    --gray_700_7f: #6868687f;
    --gray_700_87: #68686887;
    --gray_800: #444444;
    --gray_900: #1e1e1e;
    --gray_900_01: #202020;
    --gray_900_02: #212121;
    --white_color: #ffffff;

    /*------Border radius variables------*/
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 14px;
    --radius-xl: 16px;
    --radius-2xl: 20px;
    --radius-3xl: 30px;

    /*------Spacing variables------*/
    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 10px;
    --space-xl: 12px;
    --space-2xl: 16px;
    --space-3xl: 18px;
    --space-4xl: 20px;
    --space-5xl: 22px;
    --space-6xl: 24px;
    --space-7xl: 30px;
    --space-8xl: 32px;
    --space-9xl: 44px;
    --space-10xl: 48px;
    --space-11xl: 62px;
    --space-12xl: 64px;
    --space-13xl: 72px;
    --space-14xl: 138px;
    --space-15xl: 140px;
    --space-16xl: 146px;
  }
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
  }

  /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="search"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: transparent;
    border-color: transparent;
  }
  [type="radio"]:focus,
  [type="checkbox"]:focus {
    --tw-ring-color: transparent;
  }
}
@layer components {
  /*-------------------------------------
  Container CSS
--------------------------------------*/
  .container-xs {
    @apply w-full mx-auto max-w-[1276px];
  }
}
